@{
    ViewData["Title"] = "Home Page";
}
  <div class="container mt-4 search-section">
        <div class="d-flex search-container">
            <div class="search-bar">
                <select>
                    <option>Cần Thơ</option>
                </select>
                <input type="text" placeholder="Bạn muốn đặt chỗ đến đâu">
                <button>
                    <i class="bi bi-search"></i> Tìm kiếm
                </button>
            </div>
            <div class="phone-number">
                <i class="bi bi-telephone-fill"></i> 1900 6005
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center yellow-bg--banner">
            <div class="col-md-6 col-12 text-center mb-3 mb-md-0">
                <img src="/common/images/banner.jpg" alt="Hai Lạng Một" class="img-fluid">
            </div>
            <div class="col-md-6 col-12 text-center">
                <h2 class="fw-bold">Hai Lạng Một - Cần Thơ</h2>
                <p>Nhà hàng BBQ ngon, nổi tiếng tại Cần Thơ, kết hợp tinh hoa ẩm thực Trung, Nhật, Hàn.</p>
                <button class="btn btn-custom--banner">Xem ngay</button>
            </div>
        </div>
    </div>


