@{
    Layout = "../../Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin Home";
}

<h1 class="h3 mb-4">Dashboard</h1>
            <div class="row mb-4">
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-primary">EARNINGS (MONTHLY)</h6>
                                <h4>$40,000</h4>
                            </div>
                            <i class="fas fa-calendar-alt text-gray-400 fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-success">EARNINGS (ANNUAL)</h6>
                                <h4>$215,000</h4>
                            </div>
                            <i class="fas fa-dollar-sign text-gray-400 fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-info">TASKS</h6>
                                <h4>50%</h4>
                            </div>
                            <i class="fas fa-clipboard-list text-gray-400 fa-2x"></i>
                        </div>
                        <div class="progress mt-2">
                            <div class="progress-bar" role="progressbar" style="width: 50%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-warning">PENDING REQUESTS</h6>
                                <h4>18</h4>
                            </div>
                            <i class="fas fa-comments text-gray-400 fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card p-3">
                        <h6 class="text-primary">Earnings Overview</h6>
                        <img src="https://placehold.co/600x300" class="img-fluid" alt="Earnings overview chart">
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card p-3">
                        <h6 class="text-primary">Revenue Sources</h6>
                        <img src="https://placehold.co/300x300" class="img-fluid" alt="Revenue sources chart">
                    </div>
                </div>
            </div>
        </div>
