@{
    ViewData["Title"] = "Login";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(to right, #ff512f, #f09819);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login-container {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            background: rgba(237, 126, 52, 0.9);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .login-container img {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
        }
        .login-container h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #fff;
        }
        .form-control {
            background: #f09819;
            border: none;
            color: #fff;
        }
        .form-control::placeholder {
            color: #fff;
        }
        .btn-login {
            background: #1b1712;
            border: none;
        }
    </style>
</head>
<body>
    <div class="login-container text-center">
        <img src="" alt="Logo">
        <h1>Account Login</h1>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username or Email address">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn btn-login btn-block text-white">Login</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>