* {
  margin: 0;
  padding: 0;
  text-shadow: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #C0392B;
  --secondary-color: #eeeeee;
  --third-color: #d02028;
  --white-color: white;
  --black-color: black
}

html,
body {
  height: 100%;
}

/* van khoi --header css  */
.header-wrapper {
  max-width: 100%;
  padding: 0 90px;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--primary-color);
  color: var(--white-color);
  position: fixed;
  margin-bottom: 100px;
}

.navbar {
  color: var(--white-color);
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .btn {
  color: var(--white-color);
  font-size: 14px;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px 20px;
}

.login-section {
  margin: 0px 40px;
}


/* van khoi --footer  */
.footer-wrapper {
  max-width: 100%;
  padding: 0 90px;
  background-color: var(--primary-color);
}

.footer {
  background-color: var(--primary-color);
  color: var(--white-color);
}



/* Login CSS - phuonghh - START*/
#terms{
  width: 10px;
  height: 15px;
}
.form-check-label{
  align-content: center;
  padding-left: 5px;
}

.register-background,
.login-background{
  background-color: var(--secondary-color);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container,
.login-container{
  display: flex;
  width: 852px;
  height: 400px;
  background-color: white;
}
.register-container{
  height: 590px;
}
.register-block,
.login-block{
  width: 70%;
  margin: auto;
  align-content: center;
}
.register-block button,
.login-block button{
  width: 100%;
  border-radius: 0px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  margin-top: 10px;
  padding: 10px 0;
}
.register-block button:hover,
.login-block button:hover{
  background-color: var(--primary-color);
}
.register-block input,
.login-block input{
  height: auto;
  color: #222;
  padding: 17px 20px;
  border: 1px solid var(--secondary-color);
  margin: 20px 0;
  width: 100%;
}
.register-block input:focus,
.login-block input:focus {
  outline: none;
  border: 1px solid #007BFF; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.register-footer,
.login-footer{
  padding: 10px 0;
}

.register-footer a,
.login-footer a{
  color: var(--primary-color);
  text-decoration: none;
  margin: 20px 0;
}

/* Login CSS - phuonghh - END */
.footer p,
.footer h5,
.footer li {
  color: var(--white-color);
  margin: 0;
}

/* van khoi --main  */
.main-wrapper {
  margin-top: 100px;
}
