* {
  margin: 0;
  padding: 0;
  text-shadow: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #d02028;
  --secondary-color: #eeeeee;
  --third-color: white;

}

@media (max-width: 991px) {}


html,
body {
  height: 100%;
}

/* van khoi --header css  */
.header-wrapper {
  max-width: 100%;
  padding: 0 90px;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--primary-color);
  color: var(--third-color);
  position: fixed;
  margin-bottom: 100px;
}

.navbar {
  color: var(--third-color);
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .btn {
  color: var(--third-color);
  font-size: 14px;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
  background-color: var(--third-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px 20px;
}

.login-section {
  margin: 0px 40px;
}


/* van khoi --footer  */
.footer-wrapper {
  max-width: 100%;
  padding: 0 90px;
  background-color: var(--primary-color);
}

.footer {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.footer p,
.footer h5,
.footer li {
  color: var(--third-color);
  margin: 0;
}

/* van khoi --main  */
.main-wrapper {
  margin-top: 100px;
}