<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DineGO_Client</title>
     <link rel="stylesheet" href="/common/lib/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/common/lib/slider/owl.carousel.min" />
    <link rel="stylesheet" href="/common/lib/slider/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/admin/css/site.css" />
</head>

<body>
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar d-flex flex-column p-3">
            <h2 class="font-weight-bold">DineGo</h2>
            <nav class="nav flex-column">
                <a class="nav-link active" href="#"><i class=""></i>DASHBOARD</a>
                <a class="nav-link" href="#"><i class=""></i>SAMPLE 1</a>
                <a class="nav-link" href="#"><i class=""></i>SAMPLE 2</a>
                <a class="nav-link" href="#"><i class=""></i>SAMPLE 3</a>
                <a class="nav-link" href="#"><i class=""></i>SAMPLE 4</a>
                <a class="nav-link" href="#"><i class=""></i>SAMPLE 5</a>
                <a class="nav-link" href="#"><i class=""></i>SAMPLE 6</a>
            </nav>
        </div>
        <!-- Main Content -->
        <div class="flex-grow-1 d-flex flex-column">
            <!-- Header -->
            <header class="header d-flex justify-content-between align-items-center p-3">
                <div class="d-flex align-items-center">
                    <h1 class="h4 mb-0">Dashboard</h1>

                </div>
                <div class="d-flex align-items-center">
                    @* <input type="text" class="form-control" placeholder="Search"> *@
                    <nav class="ml-4 d-flex align-items-center">
                        <a href="#" class="nav-link">Account</a>
                        <div class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <a href="#" class="nav-link">Log out</a>
                    </nav>
                </div>

            </header>
            <!-- Main Section -->
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - DineGO_Client - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
 <script src="/common/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="/common/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/common/lib/slider/owl.carousel.min.js"></script>
    <script src="/admin/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>