body {
  background-color: #f8f9fa;
}
.sidebar {
  background-color: #d02028;
  color: white;
  height: 100vh;
}
.sidebar .nav-link {
  color: white;
}
.sidebar .nav-link.active {
  background-color: #e53935;
}
.header {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header .nav-link {
  color: #6c757d;
}
.header .nav-link:hover {
  color: #495057;
}
.header .badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}