/* Thanh_Start_Css */
/* Begin Admin layout */

body {
  background-color: #f8f9fc;
}
.sidebar {
  background-color: #4e73df;
  min-height: 100vh;
}
.sidebar .nav-link {
  color: white;
}
.sidebar .nav-link:hover {
  background-color: #2e59d9;
}
.sidebar .nav-link.active {
  background-color: #2e59d9;
}
.topbar {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  background-color: #36b9cc;
}

/* End Admin layout */


/* Login Admin */
.body-login {
  background: linear-gradient(to right, #ff512f, #f09819);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background: rgba(237, 126, 52, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.body-login .form-control {
  background: #f09819;
  border: none;
  color: #fff;
}

.body-login .form-control::placeholder {
  color: #fff;
}

.btn-login {
  background: #1b1712;
  border: none;
}

/* End Login Admin */

/*Begin css for table */

.table td {
  word-wrap: break-word;
  white-space: normal;
}

.table td.description {
  max-width: 200px;
}

/* End css for table */

/* Thanh_End_Css */

