<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DineGO_Client</title>
    <link rel="stylesheet" href="/common/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/common/lib/slider/owl.carousel.min.css" />
    <link rel="stylesheet" href="/common/lib/slider/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/client/css/site.css" />
</head>

<body>

    <header>
        @Html.Partial("_Header")
    </header>



    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <div class="container-fluid footer-wrapper">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            @Html.Partial("_Footer")
        </footer>
    </div>



    <script src="/common/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/common/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/common/lib/slider/owl.carousel.min.js"></script>
    <script src="/client/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
