<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DineGO_Client</title>
    <link rel="stylesheet" href="~/client/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/client/css/site.css" />
</head>
<body>
    <header>
        @Html.Partial("_Header")
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        @Html.Partial("_Footer")
    </footer>
    <script src="~/client/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/client/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/client/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
