@{
    ViewData["Title"] = "Product";
}

<div class="main">

    <!-- Region -->
    <div class="region-selector">
        <button class="region-display">Hồ Chí Minh</button>
        <div class="region-options">
            <input type="radio" name="region" id="HCM" value="HCM" checked />
            <label for="HCM" class="region-option">Hồ Chí Minh</label>

            <input type="radio" name="region" id="CanTho" value="CanTho" />
            <label for="CanTho" class="region-option">Cần Thơ</label>

            <input type="radio" name="region" id="HaNoi" value="HaNoi" />
            <label for="HaNoi" class="region-option">Hà Nội</label>

            <input type="radio" name="region" id="DaNang" value="DaNang" />
            <label for="DaNang" class="region-option">Đà Nẵng</label>
        </div>
    </div>

    <div class="search">
        <input type="search" class="search-input" value="Tìm kiếm nhà hàng yêu thích"> 
    </div>

    <!-- Price range  -->
    <div class="wrapper">
        <div class="price-input">
            <div class="field">
                <span>Min</span>
                <input type="number" class="input-min" value="2500">
            </div>
            <div class="separator">-</div>
            <div class="field">
                <span>Max</span>
                <input type="number" class="input-max" value="7500">
            </div>
        </div>
        <div class="slider">
            <div class="progress"></div>
        </div>
        <div class="range-input">
            <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
            <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
        </div>
    </div>
    <script src="script.js"></script>
</div>


<div class="restaurant-container">
    @for (int i = 0; i < 6; i++)
    {
        <a href="/Product/Details" class="restaurant-card-link">
            <div class="restaurant-card">
                <img src="~/client/images/res1.jpeg" alt="Restaurant Image" class="restaurant-image">
                <div class="restaurant-content">
                    <h3 class="restaurant-name">Buffet Sao Bắc Đẩu - Tân Sơn Nhất</h3>
                    <p class="restaurant-address">202 Hoàng Văn Thụ, Tầng 1, Tân Sơn Nhất</p>
                    <div class="restaurant-info">
                        <span class="rating">⭐⭐⭐⭐☆</span>
                        <span class="price">$100.000-$2.000.000</span>
                    </div>
                    <p class="restaurant-type">Buffet Á - Âu</p>
                    <button class="btn-book">Đặt chỗ ngay</button>
                </div>
            </div>
        </a>
    }
</div>


